{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Hello! I’m Ukamaka Scholastica Okechukwu, a passionate Digital Marketing and Data Analysis
            student at York St John University. I’m driven by the challenge of turning raw data into
            meaningful insights that inspire smarter marketing decisions and more human digital experiences.

          My degree has given me a strong foundation in digital strategy, consumer analytics, data visualization,
            and marketing research, allowing me to combine creativity with evidence-based thinking. I enjoy exploring
            how marketing data reveals audience behaviour and how ethical, data-driven storytelling can strengthen the
            relationship between brands and people.

        </p>
        <p>
          Beyond university, I’m continuously developing my technical and analytical skills — from working with tools
            like Python, Tableau, and Excel, to experimenting with web and content projects that merge data analysis
            with creative communication.

          I’m particularly interested in the future of ethical digital marketing, where data integrity, transparency,
            and innovation work together to create genuine value for audiences. My long-term goal is to build a career
            that bridges marketing intelligence, business strategy, and digital transformation — helping organisations
            grow responsibly through the power of data.
        </p>
        <p>
          When I’m not studying or coding, I love designing user experiences, analysing campaign performance metrics,
            and writing about the intersection of data, creativity, and technology.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
